* {
  background-color: rgb(70, 107, 109);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: oblique;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 20px;
  text-indent: 25px;
  text-decoration: underline;
}

.cool-place {
  color: chartreuse;
}

p.cool-place {
  color: rgb(236, 120, 12);
  letter-spacing: 10px;
}

#pretzel {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
