body {
  background: rgb(248, 233, 251);
}

h1 {
  font-size: 48px;
  text-decoration: underline;
}

.container {
  border: 1px solid black;
  min-height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  gap: 1.5rem;
}

.square {
  width: 200px;
  height: 200px;
  background: rgb(193, 51, 218);
  padding: 5px;
  border: 5px solid black;
  text-align: center;
  font-size: 65px;
}

#special-square-4 {
  align-self: flex-start;
}
