* {
  padding: 0;
  margin: 0;
}

h1 {
  padding-bottom: 45px;
}

h1,
h3 {
  text-align: center;
}

/**
    max width on media query means that the styles will apply
    only on screens that are smaller or equal to the max width
*/

/* if screen is 768 or under: tablet size */
@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  h1 {
    font-size: 45px;
  }
  h3 {
    font-size: 36px;
  }        
}

/* if screen is 480 or under: mobile phone size: but at 580 for ease of showing */
@media only screen and (max-width: 580px) {
  body {
    background-color: rgb(182, 105, 192);
  }
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 26px;
  }
}
