* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'lato', sans-serif;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.2;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

p {
  font-size: 30px;
}

img {
  width: 100%;
}

.fas-custom {
  font-size: 2em;
  color: black;
}

.hero img {
  width: 50%;
}

li {
  list-style-type: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

footer {
  background-color: #181d4f;
  padding: 20px 10px;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer a:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.mega-wrapper {
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.navbar {
  background-color: #181d4f;
  height: 70px;
  padding: 0 30px;
}

.navbar h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 10px 0;
  line-height: 1.2;
}

.navbar .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 9px;
  margin: 0 10px;
}

.navbar a:hover {
  color: #ffffff;
  border-bottom: 3px solid #181d4f;
}

.hero {
  height: 300px;
  background-color: #181d4f;
}

.hero p {
  margin-bottom: 30px;
}

.hero img {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}

.hero-form {
  padding-left: 7px;
}

.grid-item {
  position: relative;
  top: 50px;
}

.grid {
  overflow: visible;
  display: grid;
  grid-template-columns: 60% 40%;
}

.hero input[type='email'] {
  padding: 10px 70px 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;
}

.btn {
  border-radius: 6px;
  padding: 12px 20px;
  background: #4d57c8;
  border: none;
  margin-left: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.hero-form {
  margin: auto;
}

.additional-info {
  font-size: 15px;
  font-family: 'poppins', sans-serif;
}

.benefits-container {
  margin: 120px auto;
  padding: 0;
  max-width: 1400px;
  text-align: center;
}

.title {
  color: black;
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  padding-top: 10px;
}

.text {
  color: black;
  font-size: 19px;
  width: 100%;
  padding: 10px;
  margin: 0, 20px;
  text-align: justify;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.benefits {
  padding: 45px 50px;
}

.benefit {
  margin: 0 30px;
  text-align: center;
  width: 800px;
}

.testimonial {
  color: black;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.testimonial img {
  height: 100%;
  clip-path: circle();
}

.testimonial h3 {
  text-align: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2), 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.circle {
  background-color: transparent;
  border: 3px solid #636ccf;
  height: 90px;
  position: relative;
  top: -30px;
  left: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 90px;
}

footer {
  background-color: #181d4f;
  padding: 20px 10px;
}

footer a {
  color: white;
  margin: 0 10px;
}

footer .links li {
  margin-bottom: 10px;
}

footer a:hover {
  color: #ffffff;
  border-bottom: 2px solid #181d4f;
}
/**********************/
/**********************/
/**********************/
/* Tablets and Smaller */

@media (max-width: 768px) {
  .container {
    overflow: visible;
  }

  h3 {
    text-align: center;
  }
  .grid {
    grid-template-columns: 100%;
  }

  .grid-item {
    grid-template-columns: 100%;
  }

  .hero {
    height: auto;
    text-align: center;
  }

  .image {
    width: 600px;
    margin-left: 90px;
  }

  .benefits .flex {
    flex-direction: column;
    align-items: center;
  }

  .benefits {
    text-align: center;
  }

  .benefit {
    width: 100%;
  }

  .testimonial {
    grid-template-columns: repeat(1, 1fr);
  }

  .circle {
    background-color: transparent;
    border: 3px solid #636ccf;
    height: 144px;
    width: 144px;
    position: relative;
    top: -30px;
    left: 270px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  }
}
/**********************/
/**********************/
/**********************/
/* Mobile Devices */
@media (max-width: 500px) {
  .navbar {
    height: 100px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar a:hover {
    color: white;
    border-bottom: 2px solid black;
  }

  .navbar ul {
    background: #181d4f;
    border-radius: 5px;
    padding: 10px 0;
  }

  .hero {
    height: auto;
    text-align: center;
  }

  .additional-info {
    font-size: 13px;
  }

  .image {
    width: 350px;
    margin-left: 10px;
  }

  .benefit {
    margin-bottom: 40px;
  }

  .circle {
    background-color: transparent;
    border: 3px solid #636ccf;
    height: 90px;
    position: relative;
    top: -30px;
    left: 90px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 90px;
  }

  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
